.feature-item {
    margin: 2rem 0;
    padding: 6rem 2rem;
    text-align: center;
    color: var(--light-color);
    background-color: var(--yellow-orange-color);
}

.feature-item .icon {
    font-size: 3.8rem;
}

.feature-item h2 {
    margin-top: 1.2rem;
}

.feature-item:nth-child(2) {
    background-color: var(--red-color);
}

.feature-item:nth-child(3) {
    background-color: var(--gray-color);
    color: var(--yellow-orange-color);
}

.feature-item:nth-child(4) {
    background-color: var(--dark-color);
}


.features-grid {
    position: relative;
    margin-left: 10%;
}