@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --montserrat-font: 'Montserrat', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --yellow-orange-color: #f5961d;
  --old-lace-color: #fdf5ae;
  --red-color: #ff6347;
  --gray-color: #f2f2f2;
  --dark-color: #333;
  --light-color: #fff;
  --transition: all 0.3s ease-in-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;

}


body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--dark-color);
  font-family: var(--poppins-font);
}

h1, h2, h3, h4 {
  font-family: var(--montserrat-font);
  margin-top: 22px;
  line-height: 1.3;
  margin-right: 20px;
}

a {
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}


.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 2rem;
}

button, .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  display: block;
}


/*------------------------ MEDIA QUERIES-------------------------- */

@media(min-width: 768px) {
  .banner {
    padding: 0;
  }
  .banner .container {
    display: flex;
    grid-template-columns:  repeat(2, 1fr);
    place-items: center;
  }
  .banner-text {
    text-align: left;
    margin-left: 0;
    max-width: 100%;
  }
  .banner-image {
    margin-left: 3rem;
  }
  .input-group {
    justify-content: start;
  }
  .services-grid, .features-grid, .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media(min-width: 992px) {
  .banner-text h1 {
    font-size:  4.4rem;
  }
  .banner-text .text {
    font-size: 2rem;
  }
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .pricing-item {
    width: 100%;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }


}

@media(min-width: 1200px) {
  .banner .container {
    min-height:  calc(100vh - 70px);
    padding-bottom: 5rem;
  }
  .banner-text h1 {
    font-size: 6rem;
  }
  #services > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    place-items: center;
  }
  #services-left {
    display: block;
  }
  .testimonials-grid {
    grid-template-columns: repeat(4,1fr);
  }
  .pricing-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}