.navbar {
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 70px;

}

.navbar,
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-brand img {
    width: 90px;
    margin-right: 1rem;
}

.navbar-brand span {
    font-weight: 600;
    font-size: 2.5rem;
    position: relative;
    top: -10px;
    background-color: var(--yellow-orange-color);
    background-image: linear-gradient(62deg, #f5961d 0%, #ff6347 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav {
    display: flex;
    gap: 30px;
    position: relative;
    top: 20px;
    font-weight: 500;
    margin-left: -20%;

}

.nav-link:hover {
    color: var(--red-color);
    transition: var(--transition);
}